@import "tailwindcss";
input {
  padding: 0.4rem 0.6rem;
  border: 1px solid #334155;
  border-radius: 6px;
  background-color: #1e293b;
  color: #e2e8f0;
  outline: none;
  font-size: 0.9rem;
}

input:focus {
  border-color: #38bdf8;
  background-color: #0f172a;
}

.controls label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
  font-size: 0.9rem;
}
